@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.inter-class {
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }